#bg-content{
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    overflow:hidden;
    z-index:-10;
}

#bg-content img{
    height:100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.navbar{
    padding-top:0;
    padding-bottom:0;
    background-color:rgba(0, 0, 0, 0.2);

}

.navbar a{
    font-weight:bold;
    color:white;    
}
.navbar .btn{
    padding:0;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding:0.5rem;
}

.navbar-brand{
    padding-top:0;
    padding-bottom:0;
}
.navbar-toggler-icon{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@keyframes example {
    0%   {    background-color:rgba(0, 0, 0, 0.2);}
    100% {    background-color:rgba(0, 0, 0, 0.6);}
}

@keyframes example2 {
    0% {    background-color:rgba(0, 0, 0, 0.6);}
    100%   {    background-color:rgba(0, 0, 0, 0.2);}
}

.btn-nav:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}



/*Body*/
#header{
    margin:8%;
}
#header h1{
    font-family:'Aclonica';
    color:rgb(255,255,255);
    width:100%;
    text-align:center;
    margin:0 auto;
    font-size:1.375rem;
}

#welcomebar h1{
    color:rgb(0,0,0);
    font-size:2.5rem;
    text-align:center;
}

#welcomebar a{
    display:block;
}


#paragraghs{
    margin-left:10%;
    margin-right:10%;
    width:80%;
    /*background:linear-gradient(to right, #c4d7e6 0, #c4d7e6 33%, #66a5ad 33%, #66a5ad 66%, #ff0000 66%, #ff0000 100%);*/
}

.list-group .float-left{
    width:10%;
}
.list-group .float-right{
    width:90%;
}

.d-block{
    margin-left: 50%;
    transform: translateX(-50%);
}

.carousel-indicators{
    bottom:2rem;
}

.content{
    left:10%;
    width:80%;
    right:10%;
    margin:0 auto;
    background-color:white;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top-left-radius:0.75rem;
    border-bottom-left-radius:0.75rem;
    border-top-right-radius:0.75rem;
    border-bottom-right-radius:0.75rem;

}

.content-mainpage{
    background-color:transparent;
    overflow:hidden;
    text-align:center;
}

.content-item{
    overflow-y:visible;
    background-image: linear-gradient(to right, #ffecd2 0%, #eeeeee 50%, #94DECD 100%);
}

.content-message{
    background-image: linear-gradient(to right, #ffecd2 0%, #eeeeee 50%, #94DECD 100%);
}

.content-about{
    background-image: linear-gradient(to right, #ffecd2 0%, #eeeeee 50%, #94DECD 100%);
    overflow-y:auto;
}

.card-img-top{
    width:30%;
    margin:0 auto;
}

#btn-send{
    position: absolute;
    bottom:10%;
    left: 50%;
    transform: translateX(-50%);
    text-align:center;
}

.scrollbar-juicy-peach::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.scrollbar-juicy-peach::-webkit-scrollbar {
  width: 0.75rem;
}

.scrollbar-juicy-peach::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffecd2), to(#fcb69f));
  background-image: -webkit-linear-gradient(left, #ffecd2 0%, #fcb69f 100%);
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); }

/*Footer*/
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:rgba(0, 0, 0, 0.5);
   color: white;
}

.footer p{
    margin:0;
}

/*
    self define
*/
.shift-middle{
    margin-left: 50%;
    transform: translateX(-50%);
}



@media (max-width: 575.98px){
    .navbar-brand {
      font-size:1.5rem;
    }
    .logo{
        width:3rem;
    }
    .btn-nav{
      font-size:0.875rem;
    }
    #welcomebar h1{
        font-size:2rem;
    }
    .content{
        left:0;
        width:100%;
        right:0;
    }
    .card-img-top{
        width:20%;
    }
    .card-body{
        padding:0;
    }
    .col-12{
        left:10%;
        max-width:80%;
    }
    #paragraghs{
        width:100%;
        margin:0;
    }
    .list-group .float-left{
        width:25%;
    }
    .list-group .float-right{
        width:75%;
    }
    .list-group-item{
        padding-left:0;
        padding-right:0;
    }
    .footer p{
        font-size:0.875rem;
    }
}


@media (min-width: 576px) and (max-width: 767.98px){
    #navbar-holder{
    }
    .navbar-brand {
      font-size:1.5rem;
    }
    .logo{
        width:3rem;
    }
    .btn-nav{
    }
    #header h1{
        font-size:2.5rem;
    }
     .card-img-top{
        width:25%;
    }
    .card-body{
        padding:0;
    }
    .col-12{
    }
    .list-group .float-left{
        width:15%;
}
    .list-group .float-right{
        width:85%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    #navbar-holder{
    }
    .navbar-brand {
      font-size:1.5rem;
    }
    .logo{
        width:3rem;
    }
    .btn-nav{
      font-size:0.875rem;
    }
    #header h1{
        font-size:3rem;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    #navbar-holder{
    }
    .navbar-brand {
      font-size: 1rem;
    }
    .logo{
        width:1.75rem;
    }
    .btn-nav{
      font-size: 1rem;
    }
    #header h1{
        width:80%;
        font-size:3.125rem;
    }
}
@media (min-width: 1200px) {
    #navbar-holder{
    }
    .navbar-brand {
        font-size:1.375rem;

    }
    .logo{
        width:2.5rem;
    }
    .btn-nav{
        font-size:1.375rem;
    }
    #header h1{
        width:70%;
        font-size:3.5rem;
    }
}