.navbar{
    padding-top:0;
    padding-bottom:0;
}

.navbar-brand{
    padding-top:0;
    padding-bottom:0;
}

.btn-nav:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.float-left{
    width:10%;
}
.float-right{
    width:90%;
}

.d-block{
    margin-left: 50%;
    transform: translateX(-50%);
}



@media (max-width: 575.98px){
    #navbar-holder{
        margin-bottom:40px;
    }
    .navbar-brand {
      font-size:1.5rem;
    }
    .logo{
        width:3rem;
    }
    .btn-nav{
      font-size:0.875rem;
    }
    .float-left{
        width:25%;
    }
    .float-right{
        width:75%;
    }
    .list-group-item{
        padding-left:0;
        padding-right:0;
    }
}


@media (min-width: 576px) and (max-width: 767.98px){
    #navbar-holder{
        margin-bottom:40px;
    }
    .navbar-brand {
      font-size:1.5rem;
    }
    .logo{
        width:3rem;
    }
    .btn-nav{
      font-size:0.875rem;
    }
    .float-left{
        width:15%;
}
    .float-right{
        width:85%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    #navbar-holder{
        margin-bottom:40px;
    }
    .navbar-brand {
      font-size:1.5rem;
    }
    .logo{
        width:3rem;
    }
    .btn-nav{
      font-size:0.875rem;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    #navbar-holder{
        margin-bottom:54px;
    }
    .navbar-brand {
      font-size: 1rem;
    }
    .logo{
        width:1.75rem;
    }
    .btn-nav{
      font-size: 1rem;
    }
}
@media (min-width: 1200px) {
    #navbar-holder{
        margin-bottom:63px;
    }
    .navbar-brand {
        font-size:1.375rem;
    }
    .logo{
        width:2.5rem;
    }
    .btn-nav{
        font-size:1.375rem;
    }
}