body{
    background-image:url("/image/bg-wood.jpg");
}

.navbar{
    padding-top:0;
    padding-bottom:0;
    background-color:rgba(0, 0, 0, 0.2);

}

.navbar a{
    font-weight:bold;
    color:white;    
}
.navbar .btn{
    padding:0;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding:0.5rem;
}

.navbar-brand{
    padding-top:0;
    padding-bottom:0;
}
.navbar-toggler-icon{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@keyframes example {
    0%   {    background-color:rgba(0, 0, 0, 0.2);}
    100% {    background-color:rgba(0, 0, 0, 0.6);}
}

@keyframes example2 {
    0% {    background-color:rgba(0, 0, 0, 0.6);}
    100%   {    background-color:rgba(0, 0, 0, 0.2);}
}

.btn-nav:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

#welcomebar h1{
    color:rgb(0,0,0);
    font-size:2.5rem;
    text-align:center;
}

#welcomebar a{
    display:block;
}

#corkboard{
    background-image:url("/image/bg-corkboard.jpg");
    border-style:solid;
    border-color:rgb(155, 155, 155);
    border-width: 5px;
}

.list-group .float-left{
    width:10%;
}
.list-group .float-right{
    width:90%;
}

.d-block{
    margin-left: 50%;
    transform: translateX(-50%);
}

.carousel-indicators{
    bottom:2rem;
}

.content{
    left:10%;
    width:80%;
    right:10%;
    margin:0 auto;
    background-color:white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-mainpage{
    background-color:transparent;
    overflow:hidden;
    text-align:center;
}

.card-img-top{
    width:30%;
    margin:0 auto;
}

#btn-send{
    position: absolute;
    bottom:10%;
    left: 50%;
    transform: translateX(-50%);
    text-align:center;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:rgba(0, 0, 0, 0.5);
   color: white;
}

.footer p{
    margin:0;
}



@media (max-width: 575.98px){
    #navbar-holder{
    }
    .navbar-brand {
      font-size:1.5rem;
    }
    .logo{
        width:3rem;
    }
    .btn-nav{
      font-size:0.875rem;
    }
    #welcomebar h1{
        font-size:2rem;
    }
    .content{
        left:0;
        width:100%;
        right:0;
    }
    .card-img-top{
        width:20%;
    }
    .card-body{
        padding:0;
    }
    .col-12{
        left:10%;
        max-width:80%;
    }
    #paragraghs{
        width:100%;
        margin:0;
    }
    .list-group .float-left{
        width:25%;
    }
    .list-group .float-right{
        width:75%;
    }
    .list-group-item{
        padding-left:0;
        padding-right:0;
    }
    .footer p{
        font-size:0.875rem;
    }
}


@media (min-width: 576px) and (max-width: 767.98px){
    #navbar-holder{
    }
    .navbar-brand {
      font-size:1.5rem;
    }
    .logo{
        width:3rem;
    }
    .btn-nav{
    }
     .card-img-top{
        width:25%;
    }
    .card-body{
        padding:0;
    }
    .col-12{
    }
    .list-group .float-left{
        width:15%;
}
    .list-group .float-right{
        width:85%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    #navbar-holder{
    }
    .navbar-brand {
      font-size:1.5rem;
    }
    .logo{
        width:3rem;
    }
    .btn-nav{
      font-size:0.875rem;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    #navbar-holder{
    }
    .navbar-brand {
      font-size: 1rem;
    }
    .logo{
        width:1.75rem;
    }
    .btn-nav{
      font-size: 1rem;
    }
}
@media (min-width: 1200px) {
    #navbar-holder{
    }
    .navbar-brand {
        font-size:1.375rem;

    }
    .logo{
        width:2.5rem;
    }
    .btn-nav{
        font-size:1.375rem;
    }
}